* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --main: rgb(173, 173, 173);
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* overflow: hidden; */
}
input {
    font-size: 1.4rem;
    padding: 3px;
    border-radius: 5px;
    border: none;
    margin: 10px;

}

.number{
    font-size: 4rem;
}
.container{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--main);
    height: 31.25rem;
    padding: 30px;
}
.controls {
    display: flex;
    justify-content: space-between;
}
.values {
    font-size: 1.4rem;
}
.generate {
    font-size: 2rem;
}
.number {
    /* background-color: black; */
    border: 3px solid white;
    border-radius: 5px;
    height: 5rem;
} button:hover {
background-color: #fff;
}